body{
  margin:0;
  padding:0;
  font-size:1em;
}

.content{
  margin:0 auto;
  max-width:768px;
  font-family: 'Montserrat', sans-serif;
}

.description{
  padding-bottom: 20px;
}

form{

  p{
    width:75%;
    
    &.split{
      clear: both;
      input{
        width:45%;
        display: inline-block;
      }
    }
  }

  input,
  button{
    width:100%;
    padding:8px;
    font-size: 1.2em;
    border-radius: 6px;
  }
  input{
    border:1px solid #ccc;
  }
  button{
    border:0;
    cursor: pointer;
    background-color: #b90000;
    color:#fff;
    &:hover{
      background-color: #d50000;
    }
  }
}
