body {
  margin: 0;
  padding: 0;
  font-size: 1em; }

.content {
  margin: 0 auto;
  max-width: 768px;
  font-family: 'Montserrat', sans-serif; }

.description {
  padding-bottom: 20px; }

form input,
form button {
  width: 75%;
  padding: 8px;
  font-size: 1.4em;
  border-radius: 6px; }

form input {
  border: 1px solid #ccc; }

form button {
  border: 0;
  cursor: pointer;
  background-color: #b90000;
  color: #fff; }
  form button:hover {
    background-color: #d50000; }
