body {
  margin: 0;
  padding: 0;
  font-size: 1em; }

.content {
  margin: 0 auto;
  width: 768px;
  font-family: 'Montserrat', sans-serif; }

form input {
  width: 75%;
  padding: 8px;
  font-size: 1.4em;
  border-radius: 6px;
  border: 1px solid #ccc; }
