<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lastfm-NowPlaying AngularJs Module</title>
    <link href='style/style.css' rel="stylesheet" />
    <link href='lastfm-nowplaying/lastfm-nowplaying.min.css' rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body ng-app="app" ng-controller="mainCtrl">
    <div class="content">
      <h1>Last.fm Now Playing</h1>
      <div class="description">
        <p>
          Last.fm Now Playing AngularJs Module
        </p>
        <p>
          <a href='https://github.com/curttimson/lastfm-nowplaying'>https://github.com/curttimson/lastfm-nowplaying</a>
        </p>
      </div>
      <form>
        <p class="split">
          <input type='text' placeholder="Username" ng-model="username" />
          <input type='text' placeholder="API Key" ng-model="apiKey" />
        </p>
        <h2>OR</h2>
        <p class="split">
          <input type='text' placeholder="Title" ng-model="title" />
          <input type='text' placeholder="Artist" ng-model="artist" />
        </p>
        <p class="split">
          <input type='text' placeholder="Image Url" ng-model="largeimgurl" />
          <input type='text' placeholder="Large Image Url" ng-model="xlargeimgurl" />
        </p>
        <p>
          <button ng-click="loadLastFM()">Load Last.fm Now Playing</button>
        </p>
      </form>
    </div>
    <div lastfmnowplaying config="lastFmConfig"></div>
    <script src="npm/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="lastfm-nowplaying/lastfm-nowplaying-debug.js"></script>
  </body>
</html>
