.lastfm-nowplaying {
  padding: 20px;
  overflow: hidden;
  position: relative;
  height: 200px;
  box-sizing: border-box; }
  .lastfm-nowplaying canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0; }
  .lastfm-nowplaying img,
  .lastfm-nowplaying .text {
    z-index: 1;
    position: relative;
    display: inline-block; }
  .lastfm-nowplaying img {
    height: 100%; }
  .lastfm-nowplaying .text {
    color: #fff; }
    .lastfm-nowplaying .text.black {
      color: #000; }
    .lastfm-nowplaying .text h3 {
      margin: 0; }
