.lastfm-nowplaying {
  padding: 20px 0;
  overflow: hidden;
  position: relative;
  height: 200px;
  box-sizing: border-box; }
  .lastfm-nowplaying canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0; }
  .lastfm-nowplaying img,
  .lastfm-nowplaying .text {
    z-index: 1;
    position: relative;
    display: inline-block; }
