.lastfm-nowplaying{

  padding:30px;
  overflow: hidden;
  position: relative;
  height: 185px;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 1em;

  canvas{
    position: absolute;
    left:0;
    top:0;
    z-index:0;
  }

  .artwork,
  .text{
    z-index:1;
    position: relative;
    float: left;
  }

  .artwork{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:125px;
    height:125px;
  }

  .text{
    color:#fff;
    padding-left:20px;
    &.black{
      color:#000;
    }

    h3{
      margin:0;
      margin-bottom:32px;
      font-weight: normal;
    }

    p{
      margin:16px 0;
    }

    .track{
      font-weight: bold;
      font-size:1.2em;
    }
    .artist{
      // font-size:0.6em;
    }
  }
}
