.lastfm-nowplaying {
  padding: 20px 0;
  overflow: hidden;
  position: relative;
  height: 200px;
  box-sizing: border-box; }
  .lastfm-nowplaying canvas {
    position: absolute;
    left: 0;
    top: 0; }
